.footer{
    height: 200px;
    padding: 0 20px;
    border-bottom: solid 1px #3d3c3c;
    overflow: auto;
    box-shadow: 0 0 30px #f3f1f1;
    background-color:rgb(0, 0, 0);
    text-align: center;
    text-justify: auto;
}

.footer .title{
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: underline;
    text-underline-position: below;
    position: relative;
    top:20px;
    size: 60px;


}

.para{
    color: white;
    text-align: center;
    position: relative;
}

.f{
    padding: 5px;
    margin: 5;
    width: 50px;
    size: 20px;
}
.t{
    padding: 5px;
    margin: 5;
    width: 50px;
    size: 20px;
}

.i{ 
    padding: 5px;
     margin: 5;
    width: 50px;
    size: 50px;
}
.y{
    padding: 5px;
    margin: 5;
    width: 50px;
    size: 20px;
}